---
component: Full page layout
layout: main-layout.html
analytics:
  pageCategory: component
  component: page
---

<a href="https://design.atlassian.com/latest/product/foundations/layout/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Summary</h3>

<p>The full page layout provides you with Atlassian's basic page layout. You can define it by using page content layouts, grids, and items. You can use several page layout options such as default width, fixed width, hybrid, focused task page and notification task page.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-page-layout"><code>com.atlassian.auiplugin:aui-page-layout</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.6</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<p>This documentation page is currently using a full page layout. You can choose between the following options:</p>
<p>
    <table>
        <tr>
            <th>Default (full width)</th>
            <th>Fixed width</th>
            <th>Hybrid <br>(full width header, fixed width content)</th>
            <th>Focused task page</th>
            <th>Notification task page</th>
        </tr>
        <tr>
            <td><img src="images/example-layout-fluid.png" alt="Illustration of fluid page." width="150" height="130"></td>
            <td><img src="images/example-layout-fixed.png" alt="Illustration of fixed width page." width="150" height="130"></td>
            <td align="center"><img src="images/example-layout-hybrid.png" alt="Illustration of hybrid page." width="150" height="130"></td>
            <td><img src="images/example-layout-focusedtask.png" alt="Illustration of focused task page." width="150" height="130"></td>
            <td><img src="images/example-layout-notification.png" alt="Illustration of notification task page." width="150" height="130"></td>
        </tr>
    </table>
</p>

<h3>Code</h3>
<h4>HTML</h4>
<p>This is a markup-based component, however to enable HTML5 in older browsers you will need to include the HTML5 Shim.</p>
<p>To set the page type, apply one of the following classes to the <code>&lt;body&gt;</code> tag:</p>
<ul>
    <li>Default: (no class required)</li>
    <li>Fixed: <code>aui-page-fixed</code>
    </li>
    <li>Hybrid: <code>aui-page-hybrid</code>
    </li>
    <li>Focused: <code>aui-page-focused</code> - note you also need to set the size</li>
    <li>Notification: <code>aui-page-notification</code> - note you also need to set the size</li>
</ul>
<p>Page sizes for focused and notification pages are:</p>
<ul>
    <li><code>aui-page-size-small</code>
    </li>
    <li><code>aui-page-size-medium</code>
    </li>
    <li><code>aui-page-size-large</code>
    </li>
    <li><code>aui-page-size-xlarge</code> (default)</li>
</ul>
<p>Deprecated focused size classes are:</p>
<ul>
    <li><code>aui-page-focused-small</code>
    </li>
    <li><code>aui-page-focused-medium</code>
    </li>
    <li><code>aui-page-focused-large</code>
    </li>
    <li><code>aui-page-focused-xlarge</code> (default)</li>
</ul>

<noscript is="aui-docs-code" type="text/html">
    <html lang="en">
        <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
        <title>AUI - Default Page</title>
        </head>
        <body class="aui-page-focused aui-page-size-large"><!-- For a normal page, omit all 'aui-page-' classes here -->
        <div id="page">
          <header id="header" role="banner">
            <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
              <div class="aui-header-inner">
                <div class="aui-header-primary">
                  <h1 id="logo" class="aui-header-logo aui-header-logo-aui"><a href="http://example.com/"><span class="aui-header-logo-device">AUI</span></a></h1>
                  <ul class="aui-nav">
                    <li><a href="http://example.com/">Nav</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </header>
          <section id="content" role="main">
            <header class="aui-page-header">
              <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                  <h1>Default page layout</h1>
                </div>
              </div>
            </header>
            <nav class="aui-navgroup aui-navgroup-horizontal">
              <div class="aui-navgroup-inner">
                <div class="aui-navgroup-primary">
                  <ul class="aui-nav">
                    <li><a href="http://example.com">Nav item</a></li>
                  </ul>
                </div>
                <div class="aui-navgroup-secondary">
                  <ul class="aui-nav">
                    <li><a href="http://example.com/">Nav item</a></li>
                  </ul>
                </div>
              </div>
            </nav>
            <div class="aui-page-panel">
              <div class="aui-page-panel-inner">
                <section class="aui-page-panel-content">
                  <h2>Page content heading</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae diam in arcu ultricies gravida sed sed nisl. Curabitur nibh nulla, semper non pharetra eu, suscipit vitae eros. Donec eget lectus elit. Etiam metus diam, adipiscing convallis blandit sit amet, sollicitudin sit amet felis. Phasellus justo elit, rhoncus sed tincidunt a, auctor sit amet turpis. Praesent turpis lectus, aliquet vitae sollicitudin ac, convallis vitae urna. Donec consectetur lacus a lacus tincidunt at varius felis venenatis. Pellentesque dapibus mattis arcu, a vestibulum lacus congue at.</p>
                </section>
              </div>
            </div>
          </section>
          <footer id="footer" role="contentinfo">
            <section class="footer-body">
              <ul>
                <li>I &hearts; AUI</li>
              </ul>
              <div id="footer-logo"><a href="http://www.atlassian.com/" target="_blank">Atlassian</a></div>
            </section>
          </footer>
        </div>
        </body>
    </html>
</noscript><!--/ aui-docs-code-->

<h4>Soy</h4>
<p>To construct a full document with soy, you will need to call document and page; then usually fill in other templates such as header, page panel etc or use literal content:</p>
<noscript is="aui-docs-code" type="text/handlebars">
    {template .index}
        {call aui.page.document}
            {param windowTitle: 'Window title text' /}
            {param headContent}
                <!-- HEAD content such as CSS and JS resources -->
            {/param}
            {param content}
                {call aui.page.page}
                    {param headerContent}
                        <!-- call aui.page.header here -->
                    {/param}
                    {param contentContent}
                        <!-- call aui.page.pagePanel here -->
                    {/param}
                    {param footerContent}
                        <!-- literal content here -->
                    {/param}
                {/call}
            {/param}
        {/call}
    {/template}
</noscript>

<p>To set the page layout in Soy, use the pageType param:</p>
<noscript is="aui-docs-code" type="text/handlebars">
    * @param? pageType Default: default (full width). Options: default, focused, notification, fixed, hybrid, generic (no class applied).
</noscript>

<p>If you need a small focused page, you can set the size with pageSize. focusedPageSize as been deprecated:</p>
<noscript is="aui-docs-code" type="text/handlebars">
    * @param? pageSize Default: xlarge. Options: small, medium, large, xlarge.
</noscript>
