---
component: Keyboard shortcuts
layout: main-layout.html
analytics:
  pageCategory: component
  component: keyboard-shortcuts
---

<a href="https://design.atlassian.com/latest/product/components/keyboard-shortcuts/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Keyboard commands with syntactic sugar.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:ajs"><code>com.atlassian.auiplugin:ajs</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.0</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example">
    <p>Type "z" then "e" to execute some simple JavaScript.</p>
</div>
<script>
    AJS.whenIType('ze').execute(function() {
        alert('You typed z then e.');
    });
</script>
<h3>Code</h3>
<h4>JavaScript</h4>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/js">
        AJS.whenIType('ze').execute(function () {
            alert('I have executed.');
        });
        AJS.whenIType('c').click('#create');
        AJS.whenIType('gh').or('gd').goTo('http://example.com/');
        AJS.whenIType('n').moveToNextItem('.selector');
        AJS.whenIType('p').moveToPrevItem('.selector');
    </noscript>
</aui-docs-example>

<h4>JavaScript methods</h4>
<ul>
    <li>click</li>
    <li>execute</li>
    <li>followLink</li>
    <li>fromJSON</li>
    <li>goTo</li>
    <li>moveToAndClick</li>
    <li>moveToAndFocus</li>
    <li>moveToNextItem</li>
    <li>moveToPrevItem</li>
    <li>or</li>
</ul>
<p><code>fromJSON</code> creates keyboard commands and their actions from json data. Format:</p>

<noscript is="aui-docs-code" type="text/js">
    [
        {
            "keys":[["g", "d"]],
            "context":"global",
            "op":"followLink",
            "param":"#home_link"
        }, {
            "keys":[["g", "i"]],
            "context":"global",
            "op":"followLink",
            "param":"#find_link"
        }, {
            "keys":[["/"]],
            "context":"global",
            "op":"moveToAndFocus",
            "param":"#quickSearchInput"
        }, {
            "keys":[["c"]],
            "context":"global",
            "op":"moveToAndClick",
            "param":"#create_link"
        }
    ]
</noscript>
