---
component: Trigger
layout: main-layout.html
analytics:
  pageCategory: component
  component: trigger
  componentApiType: web-component
---
<h3>Summary</h3>
<p>
    The trigger is a generic interactive element, which matches the ID specified in the <aui-docs-component class="first-use">aria-controls</aui-docs-component> atribute. For example, from an AUI button to an AUI Inline Dialog.
</p>

<aui-docs-contents></aui-docs-contents>

<h3 id="usage">Usage</h3>

<p>
    Associate a button that acts as the inline dialog's trigger
    (<code class="first-use">aui-trigger attribute</code>) to the
    inline dialog (<aui-docs-component class="first-use">aui-inline-dialog</aui-docs-component>)
    by setting the trigger's <code class="first-use">aria-controls</code>
    attribute to the <code class="first-use">id</code> of the inline dialog.
</p>

<aui-docs-example live-demo>
<noscript is="aui-docs-code" type="text/html">
<button class="aui-button" data-aui-trigger aria-controls="inline-dialog-example">
  Click me
</button>
<aui-inline-dialog id="inline-dialog-example">
    <p>Lorem ipsum.</p>
</aui-inline-dialog>
</noscript>
</aui-docs-example>

<p>To receive messages from an aui trigger add a <code class="first-use">message</code> function. The trigger will respond to the following events:</p>
<ul>
    <li>click</li>
    <li>mouseenter</li>
    <li>mouseleave</li>
    <li>focus</li>
    <li>leave</li>
</ul>
<aui-docs-example live-demo>
<noscript type="text/html">
<button class="aui-button" id="enabling-button">
  Disable Trigger
</button>
<button class="aui-button" data-aui-trigger aria-controls="message-box">
  Hover me
</button>
<div id="message-box">Trigger Enabled</div>
</noscript>
<noscript type="text/css">
#message-box {
  padding: 5px;
  margin: 10px;
  width: 180px;
  border: 1px solid;
  text-align: center;
}
</noscript>
<noscript is="aui-docs-code" type="text/js">
var trigger = document.querySelector('[data-aui-trigger]');
var enablingButton = document.querySelector('#enabling-button');
var messageDiv = document.querySelector('#message-box');

var messageHandler = function(message) {
  if(message.type === 'mouseenter') {
    this.innerHTML = 'Hovering!';
  }
  else if (message.type === 'mouseleave') {
    this.innerHTML = 'Not hovering';
  }
  //ignore focus, blur and click
};

var toggleEnabled = function() {
  if(trigger.isEnabled()) {
    trigger.disable();
    messageDiv.innerHTML = 'Trigger disabled';
    this.innerHTML = 'Enable Trigger';
  }
  else {
    trigger.enable();
    messageDiv.innerHTML = 'Trigger enabled';
    this.innerHTML = 'Disable Trigger';
  }
};

//.message will receive messages from our trigger
messageDiv.message = messageHandler;
enablingButton.addEventListener("click", toggleEnabled);
</noscript>
</aui-docs-example>

<h3 id="methods">Methods</h3>

<table class="aui" id="methods-description-table">
    <thead>
    <tr>
        <th>Function</th>
        <th>Arguments</th>
        <th class="description">Description</th>
        <th>Example Usage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>disable</td>
        <td></td>
        <td>Disables the trigger.
        </td>
        <td>
            <noscript is="aui-docs-code" type="text/js">trigger.disable();</noscript>
        </td>
    </tr>
    <tr>
        <td>enabled</td>
        <td></td>
        <td> Enables the trigger.
        </td>
        <td>
            <noscript is="aui-docs-code" type="text/js">trigger.enabled();</noscript>
        </td>
    </tr>
    </tr>
    <tr>
        <td>isEnabled</td>
        <td></td>
        <td> Checks whether the trigger is enabled.
        </td>
        <td>
            <noscript is="aui-docs-code" type="text/js">trigger.isEnabled();</noscript>
        </td>
    </tr>
    </tbody>
</table>
